@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,600&family=Raleway:ital,wght@1,400;1,700&display=swap");

body {
  background-color: #efdecd;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: italic;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: italic;
}
/* HEADER SECTION */
header {
  display: flex;
  justify-content: space-around;
  padding: 20px 50px;
  background-color: #efdecd;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid rgba(42, 8, 0, 0.2);
}

.logo {
  width: 200px;
}

nav {
  display: flex;
  gap: 100px;
  padding-right: 20px;
}

.nav-button {
  background-color: transparent;
  border: 2px solid transparent;
  padding: 5px 40px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;

  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  color: #2a0800;
}

.nav-button:hover {
  background-color: #638475;
  border-color: #638475;
  color: white;
}

.feedback-container {
  display: flex;
  padding-top: 150px;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  align-items: start;
  justify-items: center;
  padding: 50px;
  border-radius: 5px;
  border: 1px solid rgba(42, 8, 0, 0.2);
  width: 60%;
}

.input-group {
  display: flex;
  justify-content: start;
  width: 200%;
  gap: 10px;
  align-items: center;
  margin-bottom: 30px;
}

.comment-box {
  grid-column: 1 / 3;
  width: 100%;
}

textarea {
  resize: none;
  width: 190%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-btn {
  margin-top: 20px;
  border: 1px solid rgba(42, 8, 0, 0.2);
  padding: 5px 40px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  border-radius: 5px;

  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  color: #2a0800;
}

.submit-btn:hover {
  background-color: #638475;
  border-color: #638475;
  color: white;
}

.end-section {
  height: 330px;
  border-top: 1px solid rgba(42, 8, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.end-section-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  min-width: 1440px;
}

.icon {
  flex: 1;
  display: flex;
  width: 150px;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.icon img {
  opacity: 0.3;
  width: 60%;
  height: auto;
  filter: sepia(1) saturate(5) hue-rotate(30deg);
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-link {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;

  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: italic;
}
.content-link:hover {
  text-decoration: underline;
  font-size: 105%;
}

.left-summary {
  flex: 2;
  display: flex;
  align-items: start;
  justify-content: center;
  padding-left: 30px;
}

.right-summary {
  flex: 2;
  align-items: end;
  justify-content: center;
  padding-right: 30px;
}
/* FOOTER SECTION */
footer {
  height: 70px;
  background-color: #bda6a0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(42, 8, 0, 0.2);
}

.terms-services {
  display: flex;
  justify-content: center;
  gap: 50px;
  cursor: pointer;

  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #2a0800;
}

.service-link {
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #2a0800;
}

.service-link:hover {
  text-decoration: underline;
  font-size: 105%;
}

.end-section a,
footer a {
  text-decoration: none; /* Removes the underline */
  color: inherit; /* Inherits the color from the parent element */
}

.end-section a:hover,
footer a:hover {
  text-decoration: underline;
}
