@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,600&family=Raleway:ital,wght@1,400;1,700&display=swap");

body {
  background-color: #efdecd;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: italic;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: italic;
}
/* HEADER SECTION */
header {
  display: flex;
  justify-content: space-around;
  padding: 20px 50px;
  background-color: #efdecd;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid rgba(42, 8, 0, 0.2);
}

.logo {
  width: 200px;
}

nav {
  display: flex;
  gap: 100px;
  padding-right: 20px;
}

.nav-button {
  background-color: transparent;
  border: 2px solid transparent;
  padding: 5px 40px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;

  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  color: #2a0800;
}

.nav-button:hover {
  background-color: #638475;
  border-color: #638475;
  color: white;
}

.content-container {
  display: flex;
  padding-top: 100px;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.booking-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-items: center;
  padding: 50px;
  border-radius: 5px;
  border: 1px solid rgba(42, 8, 0, 0.4);
  width: 50%;
}

.input-group {
  display: flex;
  justify-content: start;
  width: 100%;
  gap: 10px;
  align-items: center;
  margin-bottom: 30px;
}

.participants-number {
  display: flex;
  align-items: end;
  justify-content: start;
  width: 80%;
  gap: 84px;
  align-items: center;
  margin-bottom: 30px;
}

.participants-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: start;
  margin-bottom: 70px;
}

.comment-box {
  grid-column: 1 / 3;
  width: 100%;
}

textarea {
  resize: none;
  width: 75%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"] {
  width: 35%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
  width: 15%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 20%;
  gap: 30px;
  padding: 65px 10px;
  border-radius: 10px;
}

.option {
  border: 1px solid rgba(42, 8, 0, 0.4);
  padding: 40px;
  box-shadow: 3px 3px 4px rgb(71, 71, 71);
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.summary .option h1 {
  border-bottom: 2px solid black;
  display: inline-block;
  padding-bottom: 3px;
}

.book-now {
  border: 1px solid rgba(42, 8, 0, 0.2);
  padding: 5px 40px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  border-radius: 5px;

  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  color: #2a0800;
}

.book-now:hover {
  background-color: #638475;
  border-color: #638475;
  color: white;
}

.end-section {
  height: 330px;
  border-top: 1px solid rgba(42, 8, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.end-section-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  min-width: 1440px;
}

.icon {
  flex: 1;
  display: flex;
  width: 150px;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.icon img {
  opacity: 0.3;
  width: 60%;
  height: auto;
  filter: sepia(1) saturate(5) hue-rotate(30deg);
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-link {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;

  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: italic;
}
.content-link:hover {
  text-decoration: underline;
  font-size: 105%;
}

.left-summary {
  flex: 2;
  display: flex;
  align-items: start;
  justify-content: center;
  padding-left: 30px;
}

.right-summary {
  flex: 2;
  align-items: end;
  justify-content: center;
  padding-right: 30px;
}
/* FOOTER SECTION */
footer {
  height: 70px;
  background-color: #bda6a0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(42, 8, 0, 0.2);
}

.terms-services {
  display: flex;
  justify-content: center;
  gap: 50px;
  cursor: pointer;

  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.service-link {
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.service-link:hover {
  text-decoration: underline;
  font-size: 105%;
}
