@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,600&family=Raleway:ital,wght@1,400;1,700&display=swap");

body {
  background-color: #efdecd;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: italic;
  color: #2a0800;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #2a0800;
}
/* HEADER SECTION */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 50px;
  background-color: #efdecd;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid rgba(42, 8, 0, 0.2);
}


.logo {
  width: 200px;
}

nav {
  display: flex;
  gap: 70px;
  padding-right: 20px;
}

.nav-button {
  background-color: transparent;
  border: 2px solid transparent;
  padding: 5px 40px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;

  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  color: #2a0800;
}

.nav-button:hover {
  background-color: #638475;
  border-color: #638475;
  color: white;
}








.gallery-container {
  display: flex;
  padding-top: 200px;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 2500px;
  position: relative;
}

.gallery-imgs {
  margin-top: 50px;

  position: relative;
  width: 70%;
  height: 2500px;
  overflow: hidden;
}

.gallery-img {
  position: absolute;
  width: 80%;
}

/* Individual image adjustments */
.img1 {
  top: 0;
  width: 60%;
}

.img2 {
  top: 0%;
  right: 0%;
  width: 50%;
}

.img3 {
  top: 16%;
  width: 60%;
}

.img4 {
  top: 14%;
  width: 40%;
  right: 0;
}

.img5 {
  top: 25%;
  width: 45%;
  right: 0;
}
.img6 {
  top: 31%;
  width: 55%;
}

.img7 {
  top: 36%;
  width: 50%;
  right: 0;
}

.img8 {
  top: 46%;
  width: 60%;
}

.img9 {
  top: 49%;
  width: 44%;
  right: 0;
}

.img10 {
  top: 62%;
  width: 40%;
  right: 0;
}

.img11 {
  top: 62%;
  width: 60%;
}









.end-section {
  height: 250px;
  border-top: 1px solid rgba(42, 8, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.end-section-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  min-width: 1440px;
}

.icon {
  flex: 1;
  display: flex;
  width: 150px;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.icon img {
  opacity: 0.3;
  width: 60%;
  height: auto;
  filter: sepia(1) saturate(5) hue-rotate(30deg);
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-link {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;

  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: italic;
}
.content-link:hover {
  text-decoration: underline;
  font-size: 105%;
}

.left-summary {
  flex: 2;
  display: flex;
  align-items: start;
  justify-content: center;
  padding-left: 30px;
}

.right-summary {
  flex: 2;
  align-items: end;
  justify-content: center;
  padding-right: 30px;
}
/* FOOTER SECTION */
footer {
  height: 50px;
  background-color: #bda6a0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(42, 8, 0, 0.2);
}

.terms-services {
  display: flex;
  justify-content: center;
  gap: 50px;
  cursor: pointer;

  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #2a0800;
}

.service-link {
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #2a0800;
}

.service-link:hover {
  text-decoration: underline;
  font-size: 105%;
}

.end-section a,
footer a {
  text-decoration: none;
  color: inherit;
}

.end-section a:hover,
footer a:hover {
  text-decoration: underline;
}
